.inner__page {
  /* Tablet */
  @media (max-width: 1199px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    padding-top: 20px;
  }

  @media (max-width: 599px) {
    padding-bottom: 40px;
  }
}

/* -----   article ---------*/
.article__page {
  display: flex;
  justify-content: space-between;
  
  /* Mobile */
  @media (max-width: 899px) {
    flex-direction: column-reverse;
  }
}

.article__page-nav {
  width: 270px;
  flex-grow: 0;
  flex-shrink: 0;
  @media (max-width: 1199px) {
    width: 269px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    width: 100%;
    margin-top: 40px;
  }
  /* Mobile */
  @media (max-width: 599px) {
    margin-top: 30px;
  }

  
}

.article__page-nav-title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 28px;
  color: #31405B;
  /* Mobile */
  @media (max-width: 899px) {
    margin-bottom: 20px;
  }

}

.article__page-nav-list {
  font-size: 20px;
  border-top: 1px solid #D6D9D8;
  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 18px; 
  }
  /* Mobile */
  @media (max-width: 599px) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.article__page-nav-list li {
  border-bottom: 1px solid #D6D9D8;
}

.article__page-nav-list a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #138ECE;
  text-decoration: none;
  @media (max-width: 599px) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.article__page-nav-list a:hover {
  text-decoration: underline;
}

.article__page-nav-list a.active {
  font-weight: 700;
  color: #E04E4E;

}

.article__page-article {
  width: 770px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #31405B;
  /* Tablet */
  @media (max-width: 1199px) {
    width: 570px;
  }

  @media (max-width: 899px) {
    width: 100%;
  }
  
}

.article__page-article h1 {
  margin-bottom: 40px;
  margin-top: -6px; /* визуальная центровка заголовков */
  font-weight: 700;
  font-size: 54px;
  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 50px;
    margin-bottom: 20px;
  }

  @media (max-width: 899px) {
    font-size: 42px;  
  }

  @media (max-width: 599px) {
    font-size: 28px;  
    margin-bottom: 10px;
  }

}

.article__page-article h2 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.6;
  /* Mobile */
  @media (max-width: 599px) {
    line-height: 1;
  }
}

.article__page-article h3 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  @media (max-width: 599px) {
    line-height: 1;
  }
}

.article__page-article h4 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.6;
  @media (max-width: 599px) {
    line-height: 1;
  }
}

.article__page-article p {
  margin-bottom: 15px;
  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 1.6;
  }

  @media (max-width: 899px) {
    font-size: 16px;
  }
}

.article__page-article>*:last-child {
  margin-bottom: 0;
}

.article__page-article img {
  margin-top: 40px;
  margin-bottom: 40px;
  /* Tablet */
  @media (max-width: 1199px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: 899px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}