.button {
  display: inline-block;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  background: #0AC883;
  box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
  border-radius: 50px;
  border: none;

  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;

  cursor: pointer;
  
  /* Mobile */
  @media (max-width: 899px) {
    padding-left: 30px;
    padding-right: 30px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;

  }
}