/* ----------  checkbox  ------------ */
.checkbox-row {
  margin-bottom: 20px;
  display: flex;/* если текста много */
  align-items: flex-start;/* если текста много */
  /* чтобы элемент тянулся и был друг под другом */
}

.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: sub;
  flex-shrink: 0; /* если текста много */
  margin-right: 15px;
  width: 20px;
  height: 20px;
  /* left: calc(50% - 17px/2 + 4.5px);
  top: calc(50% - 17px/2 + 5.5px); */
  background: #EEEEEE;
  border: 2px solid #C0C0C0;
}

.real-checkbox:focus+.custom-checkbox::before {
  box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
}

.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url('./../img/contacts/check.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in;
  /* display: none;  */
}

.real-checkbox:checked+.custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
  /* display: block; */
}
