/* --------- form --------------- */
.form {
  padding: 40px;
  width: 630px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
  /* Tablet */
  @media (max-width: 1199px) {
    width: 870px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    width: 100%;
  }
}

.form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  /* Mobile */
  @media (max-width: 599px) {
    font-size: 20px;
  }
}

.form-group-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.form-group-row>.input+.input {
  margin-left: 10px;
  /* если в form-group-row есть input у которого
  с лева есть input то мы правому задаем свойство  */
  @media (max-width: 599px) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.form-group-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  /* Mobile */
  @media (max-width: 599px) {
    font-size: 18px;
  }
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;

  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 6px;

  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.input::placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.form-group:last-of-type {
  margin-bottom: 35px;/* последний элемент данного типа */
}

/* если будет переполнение текста */