.header {
  position: relative;
  padding-top: 50px;
  height: 800px;
  background-color: #265847;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/header/header-bg.jpg');

  /* Tablet */
  @media (max-width: 1199px) {
    height: 590px;
  }
}

/* ------ заголовок для внутренних сраниц */
.header-inner {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #265847;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/header/header-inner-bg.jpg');
  
}

/* ----------  навигация ----------- */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;

  /* Tablet */
  @media (max-width: 1199px) {
    /* width: 900px; */
    width: 100%; /* responsive  */
    padding-left: 15px;
    padding-right: 15px;
  }
 
}

.header__top-nav-list {
  display: flex;

  /* Tablet */
  @media (max-width: 1199px) {
    /* display: none; */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    transform: translate(100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 88, 71, 0.85);
    opacity: 0;
     
    .header__top-nav-list-item {
      margin-top: 35px;
    }

    .header__top-nav-list-link {
      font-size: 28px;
      color: #fff;
    }

  }
}

.header__top-nav-list.header__top-nav-list--active {
 
  @media (max-width: 1199px) {
    opacity: 1;
    transform: translate(0);
    transition: all 0.2s ease-in;
  }
}



.header__top-nav-list-item:not(:last-child) {
  margin-right: 50px;
  /* Tablet */
  @media (max-width: 1199px) {
    margin-right: 0;
  }
}

.header__top-nav-list-link {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

/* ---------   заголовок и под заголовок  --------- */
.header__wrapper-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 919px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  /* Tablet */
  @media (max-width: 1199px) {
    width: 900px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* mobile */
  @media (max-width: 899px) {
   /*  width: 600px; */
   width: 100%;
  }

  /* mobile XS*/
  @media (max-width: 599px) {
    /* width: 320px; */
    
  }
}

.header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: #FFFFFF;

  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 52px;
  }

  /* mobile */
  @media (max-width: 899px) {
    font-size: 42px;
  }
  /* mobile XS*/
  @media (max-width: 599px) {
    font-size: 32px;
  }
}

.header__wrapper-title .header__title {
  margin-bottom: 20px;

  /* mobile XS*/
  @media (max-width: 599px) {
    margin-bottom: 10px;
  }
}

.header__wrapper-title p {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;

  /* mobile */
  @media (max-width: 899px) {
    font-size: 20px;
  }

  /* mobile XS*/
  @media (max-width: 599px) {
    font-size: 18px;
  }

}

/* ------------ стрелка скрола вниз  ----- */
.header__scroll {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;

  padding-bottom: 35px;
  /* взамен высоты */
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;

  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 0;
  }
}

.header__scroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../img/header/arrow-down.svg');
}